.item-count {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contador button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #800020;
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
}

.btn-agregar {
    background-color: #800020;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}