*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8e3e3;
  color: #2b1a1b;
}


.bg-bordo {
  background-color: #800020 !important;
}
